<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Connection String -->
		<add key="ConnectionString" value="Driver={SQL Server}; Server=COMMERCIENT-02\SQLEXPRESS; Database=college; Uid=sa1; Pwd=1234"/>

		<!-- Table Name -->
		<add key="TableName" value="Students" />

		<!-- File Path -->
		<add key="FilePath" value="C:\\Logs" />	
	
	</appSettings>
</configuration>

